*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif', 'poppins';
}

body{
    background: #e6e2f1;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #604a90;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    color: #fff;
    text-align: center;
}

.container h1{
    margin: 10px 0 30px 0;
}

.centro{
    text-align: center;
    font-size: 24px;
}

#next-btn{
    display: none;
}

.criarPergunta,
.verClassificacao,
.sobre {
    height: 100px;
    width: 97%;
    border-radius: 15px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: 10px 5px 10px 5px;
    background-color: #7159a1;
}

.criarPergunta h2{
    color: #fff;
    position: absolute;
    top: 18%;
    left: 15%;
}

.criarPergunta i,
.verClassificacao i,
.sobre i{
    color: #fff;
    position: absolute;
    top: 19%;
    left: 90%;
}

.verClassificacao h2{
    color: #fff;
    position: absolute;
    top: 37%;
    left: 15%;
}

.verClassificacao i{
    position: absolute;
    top: 38%
}

.sobre h2{
    color: #fff;
    position: absolute;
    top: 55%;
    left: 15%;
}

.sobre i{
    position: absolute;
    top: 56%
}

.inicio{
    background-color: #8269b3;
    color: #fff;
    border-radius: 15px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: none;
    border-left: none;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 80%;
    left: 26%;
    font-size: 24px;
}

.container a{
    color: #fff;
    text-decoration: none;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: greenyellow;
}

.incorrect{
    background: red;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 300px;
}