*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif', 'poppins';
}

body{
    background: #001e4d;
}

.container{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.container h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.question{
    color: #222;
    font-size: 18px;
    padding: 20px 0;
}

#score{
    color: #222;
}

.container .options{
    padding: 10px;
    margin: 10px 0;
}

button{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ;
}

button:hover{
    background: #001e4d;
    color: #fff;
}